body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.form-container input, .form-container button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

.form-container button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #45a049;
}

.form-container .cancel {
    background-color: #f44336;
    text-align: center;
    padding: 10px;
    color: white;
    text-decoration: none;
    display: block;
    margin-top: 5px;
    border-radius: 4px;
}

.form-container .cancel:hover {
    background-color: #e53935;
}

.alert {
    padding: 15px;
    background-color: #4CAF50; /* Green */
    color: white;
    margin-bottom: 20px;
    border-radius: 4px;
}